#main {
  height: 800px;
  background-image: url("images/places/philipp-kammerer-6Mxb_mZ_Q8E-unsplash.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 5px;
}

#main-content {
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 315px;
  right: 325px;
  width: 50%;
}

#main-content h1 {
  font-size: 35px;
  font-family: "Raleway", sans-serif;
  /* text-transform: uppercase; */
  margin: 0px;
  background: rgb(199, 199, 199);
  background: linear-gradient(
    121deg,
    rgba(199, 199, 199, 1) 2%,
    rgba(255, 255, 255, 1) 31%,
    rgba(252, 143, 143, 1) 61%,
    rgba(224, 224, 224, 1) 98%
  );
  filter: drop-shadow(3px 3px #000000);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-radius: 10px;
  padding: 5px;
}

#main-content span {
  font-size: 40px;
  border-radius: 8px;
  padding: 5px;
  line-height: 50px;
}
